In [26]:
import pandas as pd
from pandas import Series, DataFrame
jan = pd.read_csv('C:/지하철/20140101.csv')
feb = pd.read_csv('C:/지하철/20140201.csv')
mar = pd.read_csv('C:/지하철/20140301.csv')
apr = pd.read_csv('C:/지하철/20140401.csv')
may = pd.read_csv('C:/지하철/20140501.csv')
jun = pd.read_csv('C:/지하철/20140601.csv')
jul = pd.read_csv('C:/지하철/20140701.csv')
aug = pd.read_csv('C:/지하철/20140801.csv')
sep = pd.read_csv('C:/지하철/20140901.csv')
oct = pd.read_csv('C:/지하철/20141001.csv')
nov = pd.read_csv('C:/지하철/20141101.csv')
dec = pd.read_csv('C:/지하철/20141201.csv')

# 서면 승강장 평균

## 평균(31일)

In [31]:

def avg(month):
    filter1 = month[['최저','최고','평균']]
    평균 = filter1['평균']

    t=1
    x=0
    서면=[]

    while t<=35:
        서면.append(평균[36+x])
        x += 38
        t += 1

    df = DataFrame({'month':서면}, 
    index=['서면1 no2','co2','pm2.5','pm10','co','서면2 no2','co2','pm2.5','pm10','co','남포 no2','fad','co2','pm10','co','서면1 no2','co2','pm2.5','pm10','co','서면2(대) no2','fad','co2','pm2.5','pm10','co','사상(대) no2','fad','co2','pm10','co','미남 no2','co2','pm10','co'])
    return df


jan_mean = avg(jan)
mar_mean = avg(mar)
may_mean = avg(may)
jul_mean = avg(jul)
aug_mean = avg(aug)
oct_mean = avg(oct)
dec_mean = avg(dec)

## 평균 (30일)

In [32]:
def avg(month):
    filter1 = month[['최저','최고','평균']]
    평균 = filter1['평균']

    t=1
    x=0
    서면=[]

    while t<=35:
        서면.append(평균[35+x])
        x += 37
        t += 1

    df = DataFrame({'month':서면}, 
    index=['서면1 no2','co2','pm2.5','pm10','co','서면2 no2','co2','pm2.5','pm10','co','남포 no2','fad','co2','pm10','co','서면1 no2','co2','pm2.5','pm10','co','서면2(대) no2','fad','co2','pm2.5','pm10','co','사상(대) no2','fad','co2','pm10','co','미남 no2','co2','pm10','co'])
    return df


apr_mean = avg(apr)
jun_mean = avg(jun)
sep_mean = avg(sep)
nov_mean = avg(nov)

## 평균(29일)

In [33]:
def avg(month):
    filter1 = month[['최저','최고','평균']]
    평균 = filter1['평균']

    t=1
    x=0
    서면=[]

    while t<=35:
        서면.append(평균[33+x])
        x += 35
        t += 1

    df = DataFrame({'month':서면}, 
    index=['서면1 no2','co2','pm2.5','pm10','co','서면2 no2','co2','pm2.5','pm10','co','남포 no2','fad','co2','pm10','co','서면1 no2','co2','pm2.5','pm10','co','서면2(대) no2','fad','co2','pm2.5','pm10','co','사상(대) no2','fad','co2','pm10','co','미남 no2','co2','pm10','co'])
    return df
feb_mean = avg(feb)

## 평균 합병

In [34]:
sm = pd.concat([jan_mean,feb_mean,mar_mean,apr_mean,may_mean,jun_mean,jul_mean,aug_mean,sep_mean,oct_mean,nov_mean,dec_mean], axis =1)
sm

,month,month,month,month,month,month,month,month,month,month,month,month
서면1 no2,0.039,0.039,0.040,0.045,0.046,0.040,0.038,0.033,0.036,0.039,0.040,0.037
co2,537.000,545.000,531.000,535.000,533.000,510.000,516.000,504.000,514.000,540.000,558.000,552.000
pm2.5,41.000,35.000,37.000,41.000,45.000,36.000,22.000,14.000,15.000,16.000,25.000,22.000
pm10,54.000,47.000,45.000,58.000,74.000,67.000,55.000,41.000,44.000,48.000,55.000,52.000
co,1.000,0.800,0.800,0.800,0.800,0.700,0.600,0.500,0.500,0.600,0.700,0.700
서면2 no2,0.043,0.040,0.044,0.056,0.065,0.055,0.050,0.042,0.043,0.044,0.047,0.047
co2,557.000,522.000,526.000,527.000,545.000,526.000,510.000,504.000,515.000,546.000,602.000,597.000
pm2.5,39.000,32.000,25.000,26.000,28.000,23.000,23.000,16.000,19.000,17.000,24.000,23.000
pm10,55.000,44.000,46.000,56.000,64.000,56.000,53.000,43.000,49.000,50.000,51.000,45.000
co,0.900,0.500,0.500,0.500,0.600,0.500,0.500,0.400,0.400,0.400,0.500,0.500
남포 no2,0.041,0.039,0.039,0.044,0.052,0.047,0.035,0.035,0.040,0.037,0.037,0.033
fad,3.000,5.000,5.300,7.600,11.800,11.300,15.500,11.400,10.700,9.000,8.800,4.600
co2,514.000,496.000,480.000,532.000,530.000,479.000,498.000,503.000,505.000,519.000,539.000,559.000
pm10,52.000,52.000,50.000,53.000,65.000,0.000,30.000,22.000,23.000,23.000,26.000,27.000
co,0.700,0.500,0.500,0.600,0.500,60.000,50.000,38.000,42.000,42.000,45.000,39.000
서면1 no2,0.048,0.047,0.048,0.054,0.057,0.500,1.200,0.600,0.500,0.600,0.700,0.600
co2,514.000,470.000,506.000,553.000,645.000,0.039,0.050,0.039,0.039,0.041,0.045,0.041
pm2.5,41.000,37.000,35.000,42.000,44.000,577.000,622.000,576.000,586.000,595.000,608.000,597.000
pm10,66.000,61.000,61.000,73.000,75.000,38.000,36.000,25.000,24.000,26.000,32.000,31.000
co,0.900,0.900,0.800,0.800,0.800,62.000,53.000,41.000,43.000,49.000,57.000,54.000
서면2(대) no2,0.041,0.038,0.040,0.048,0.054,0.800,0.900,0.800,0.700,0.600,0.700,0.600
fad,5.700,4.200,5.400,8.300,14.700,0.044,0.036,0.032,0.035,0.039,0.038,0.032
co2,665.000,618.000,650.000,642.000,612.000,20.700,21.400,10.600,9.100,8.500,7.500,4.200
pm2.5,39.000,35.000,32.000,34.000,39.000,623.000,645.000,611.000,543.000,561.000,611.000,616.000
pm10,53.000,44.000,46.000,52.000,64.000,35.000,29.000,19.000,21.000,22.000,38.000,29.000
co,0.800,0.700,0.600,0.600,0.600,47.000,40.000,29.000,33.000,43.000,64.000,53.000
사상(대) no2,0.042,0.036,0.038,0.036,0.027,0.400,0.500,0.500,0.500,0.500,0.600,0.600
fad,2.900,2.800,3.200,4.000,5.000,0.036,0.025,0.032,0.035,0.032,0.036,0.035
co2,505.000,488.000,484.000,476.000,446.000,6.900,9.600,12.000,11.300,10.000,8.900,7.300
pm10,49.000,42.000,42.000,41.000,44.000,486.000,495.000,491.000,502.000,505.000,510.000,516.000
co,0.800,0.700,0.600,0.600,0.600,0.000,24.000,18.000,18.000,20.000,26.000,24.000
미남 no2,0.039,0.046,0.053,0.059,0.059,40.000,38.000,30.000,33.000,34.000,41.000,41.000
co2,480.000,479.000,471.000,468.000,467.000,0.500,0.600,0.500,0.400,0.700,0.900,0.900
pm10,50.000,47.000,46.000,45.000,50.000,0.048,0.037,0.036,0.044,0.048,0.048,0.037
co,1.200,1.100,0.900,0.900,0.900,453.000,460.000,447.000,436.000,447.000,474.000,488.000

## 연평균

In [42]:
mean_final = sm.mean(axis=1)
mean_final
mean_final.to_csv('C:/지하철/mean_finalll.csv', encoding = 'utf-8-sig')

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  This is separate from the ipykernel package so we can avoid doing imports until

In [43]:
mean_final

서면1 no2         0.039333
co2           531.250000
pm2.5          29.083333
pm10           53.333333
co              0.708333
서면2 no2         0.048000
co2           539.750000
pm2.5          24.583333
pm10           51.000000
co              0.516667
남포 no2          0.039917
fad             8.666667
co2           512.833333
pm10           35.250000
co             26.566667
서면1 no2         0.412833
co2           224.024500
pm2.5         363.333333
pm10           45.666667
co             30.266667
서면2(대) no2      0.443417
fad             3.213000
co2           272.416667
pm2.5         365.750000
pm10           37.666667
co             26.025000
사상(대) no2       0.314917
fad             1.510917
co2           205.416667
pm10          310.250000
co             11.108333
미남 no2         21.438000
co2           197.458333
pm10           19.858167
co            267.500000
dtype: float64

# 서면 승강장 표준편차/분산

In [36]:
sm.std(axis=1)

서면1 no2         0.003525
co2            17.019374
pm2.5          11.269092
pm10            9.632647
co              0.144338
서면2 no2         0.007324
co2            31.835158
pm2.5           6.374072
pm10            6.164414
co              0.133712
남포 no2          0.005468
fad             3.689625
co2            24.124048
pm10           18.776799
co             23.645385
서면1 no2         0.366532
co2           279.727512
pm2.5         285.867844
pm10           19.837216
co             26.559858
서면2(대) no2      0.361880
fad             4.674875
co2           322.498016
pm2.5         292.480341
pm10           14.373798
co             24.059779
사상(대) no2       0.251624
fad             1.909386
co2           242.563745
pm10          235.521134
co             11.271320
미남 no2         19.154775
co2           243.258301
pm10           24.528002
co            235.617772
dtype: float64

In [37]:
sm.var(axis=1)

서면1 no2            0.000012
co2              289.659091
pm2.5            126.992424
pm10              92.787879
co                 0.020833
서면2 no2            0.000054
co2             1013.477273
pm2.5             40.628788
pm10              38.000000
co                 0.017879
남포 no2             0.000030
fad               13.613333
co2              581.969697
pm10             352.568182
co               559.104242
서면1 no2            0.134346
co2            78247.481204
pm2.5          81720.424242
pm10             393.515152
co               705.426061
서면2(대) no2         0.130957
fad               21.854458
co2           104004.970606
pm2.5          85544.750000
pm10             206.606061
co               578.872955
사상(대) no2          0.063314
fad                3.645753
co2            58837.170606
pm10           55470.204545
co               127.042652
미남 no2           366.905389
co2            59174.600833
pm10             601.622862
co             55515.734545
dtype: float64

In [54]:
octo = pd.read_csv('C:/지하철/20141001.csv', index_col = 0)
octo

            00시       최저       최고       평균
구분
측 정 소      1_서면      NaN      NaN      NaN
측정항목        NO2      NaN      NaN      NaN
최소        0.012    0.012      NaN      NaN
최대        0.051      NaN    0.073      NaN
평균        0.032      NaN      NaN    0.039
측 정 소      1_서면      NaN      NaN      NaN
측정항목        CO2      NaN      NaN      NaN
최소          431  411.000      NaN      NaN
최대          558      NaN  802.000      NaN
평균          484      NaN      NaN  540.000
측 정 소      1_서면      NaN      NaN      NaN
측정항목      PM2.5      NaN      NaN      NaN
최소            6    4.000      NaN      NaN
최대           30      NaN   46.000      NaN
평균           14      NaN      NaN   16.000
측 정 소      1_서면      NaN      NaN      NaN
측정항목       PM10      NaN      NaN      NaN
최소           24   17.000      NaN      NaN
최대           65      NaN  125.000      NaN
평균           39      NaN      NaN   48.000
측 정 소      1_서면      NaN      NaN      NaN
측정항목         CO      NaN      NaN      NaN
최소          0.2    0.200      NaN      NaN
최대          1.1      NaN    1.500      NaN
평균          0.6      NaN      NaN    0.600
측 정 소      2_서면      NaN      NaN      NaN
측정항목        NO2      NaN      NaN      NaN
최소        0.015    0.013      NaN      NaN
최대        0.052      NaN    0.101      NaN
평균        0.034      NaN      NaN    0.044
...         ...      ...      ...      ...
측 정 소  3_미남 (대)      NaN      NaN      NaN
측정항목         CO      NaN      NaN      NaN
최소          0.3    0.100      NaN      NaN
최대          1.2      NaN    1.400      NaN
평균          0.7      NaN      NaN    0.700
측 정 소  4_동래 (대)      NaN      NaN      NaN
측정항목        NO2      NaN      NaN      NaN
최소        0.019    0.007      NaN      NaN
최대        0.049      NaN    0.081      NaN
평균        0.035      NaN      NaN    0.045
측 정 소  4_동래 (대)      NaN      NaN      NaN
측정항목        CO2      NaN      NaN      NaN
최소          421  395.000      NaN      NaN
최대          537      NaN  622.000      NaN
평균          471      NaN      NaN  477.000
측 정 소  4_동래 (대)      NaN      NaN      NaN
측정항목      PM2.5      NaN      NaN      NaN
최소            4    2.000      NaN      NaN
최대           25      NaN   31.000      NaN
평균           13      NaN      NaN   13.000
측 정 소  4_동래 (대)      NaN      NaN      NaN
측정항목       PM10      NaN      NaN      NaN
최소           19   12.000      NaN      NaN
최대           55      NaN   79.000      NaN
평균           32      NaN      NaN   32.000
측 정 소  4_동래 (대)      NaN      NaN      NaN
측정항목         CO      NaN      NaN      NaN
최소          0.3    0.200      NaN      NaN
최대          1.3      NaN    1.400      NaN
평균          0.6      NaN      NaN    0.600

[210 rows x 4 columns]

In [56]:
octo['측 정 소':'평균']

KeyError: "Cannot get left slice bound for non-unique label: '측 정 소'"