In [2]:
import pandas as pd
from pandas import DataFrame
df = pd.read_csv('C:/Users/User/Codeit/aqms_format.csv')
df.drop(['최저','최고','평균'],axis = 'columns', inplace = True)
df.head()

,1월,00시,01시,02시,03시,04시,05시,06시,07시,08시,...,14시,15시,16시,17시,18시,19시,20시,21시,22시,23시
0,01일,0.5,0.5,0.5,0.5,0.5,0.4,0.4,0.4,0.4,...,0.4,0.4,0.4,0.5,0.5,0.5,0.5,0.5,0.5,0.5
1,02일,0.5,0.4,0.4,0.4,0.4,0.4,0.4,0.4,0.5,...,점검,0.6,0.5,0.5,0.5,0.6,0.7,0.6,0.5,0.5
2,03일,0.5,0.4,0.5,0.4,0.4,0.4,0.5,0.5,0.6,...,0.5,0.6,0.6,0.6,0.8,0.8,1,0.9,0.8,0.8
3,04일,0.7,0.6,0.6,0.5,0.5,0.5,0.6,0.7,0.8,...,0.7,0.7,0.7,0.7,0.9,0.9,0.8,0.7,0.6,0.6
4,05일,0.6,0.6,0.6,0.6,0.5,0.7,0.8,0.8,0.8,...,0.8,0.6,0.6,0.6,0.7,0.7,0.7,0.8,0.8,0.8

In [3]:
jan = df.iloc[0:31,:]
jan = jan.T
jan.drop(['1월'],inplace = True)
jan = pd.melt(jan, id_vars = [])

In [4]:
# jan.columns=['time','concentration']
jan.head()

   variable value
0         0   0.5
1         0   0.5
2         0   0.5
3         0   0.5
4         0   0.5

In [8]:
#values.tolist() 연습
#value = jan.iloc[:,1].values.tolist()
# value[:10]

In [73]:
# mid_step.set_index('time')
#1월
# 잘만들었으니, 이제 time 인덱스에 real time format을 입력해봐야겠다.

In [74]:
from dateutil.parser import parse
from datetime import timedelta

In [75]:
# time = parse('2019-01-01')
# jan['time'] = time
# jan.head(10)

In [76]:
# for i in range(31):
#     time2 = time + timedelta(i)
#     print(time2)

In [77]:
# def time_cal():
#     for i in range(31):
#         times = time+timedelta(i)
#         for i in range(24):
            
#             jan['time'] = times
#             print(jan['time'])
#     return jan
# # print(time_cal())

In [78]:
# # def time_cal(x):
# #     for i in range(31):
# #         times = time+timedelta(i)
# #         for _ in range(24):
# #             print(times)

# def time_cal(x):
    
#     times = time+timedelta(4)
#     return times
# jan['time'] = jan['time'].apply(lambda x: time_cal(x))
# jan['time']

In [79]:
df = pd.read_csv('C:/Users/User/Codeit/aqms_format.csv')
df.drop(['최저','최고','평균'],axis = 'columns', inplace = True)

In [80]:
feb = df.iloc[35:63,:]
feb= feb.T
feb.drop(['1월'],inplace = True)
feb = pd.melt(feb, id_vars = [])

In [81]:
mar = df.iloc[67:98,:]

In [82]:
apr = df.iloc[102:132,:]

In [83]:
may = df.iloc[136:167,:]

In [84]:
jun = df.iloc[171:201,:]

In [85]:
jul = df.iloc[205:236,:]

In [86]:
aug = df.iloc[240:271,:]

In [87]:
sep = df.iloc[275:305,:]

In [88]:
octo = df.iloc[309:340,:]

In [89]:
nov = df.iloc[344:374,:]

In [90]:
dec = df.iloc[378:409,:]

In [91]:

mar= mar.T
mar.drop(['1월'],inplace = True)
mar = pd.melt(mar, id_vars = [])

apr= apr.T
apr.drop(['1월'],inplace = True)
apr = pd.melt(apr, id_vars = [])


may= may.T
may.drop(['1월'],inplace = True)
may = pd.melt(may, id_vars = [])

jun= jun.T
jun.drop(['1월'],inplace = True)
jun = pd.melt(jun, id_vars = [])


jul= jul.T
jul.drop(['1월'],inplace = True)
jul = pd.melt(jul, id_vars = [])

aug=aug.T
aug.drop(['1월'],inplace = True)
aug= pd.melt(aug, id_vars = [])

sep= sep.T
sep.drop(['1월'],inplace = True)
sep = pd.melt(sep, id_vars = [])

octo= octo.T
octo.drop(['1월'],inplace = True)
octo = pd.melt(octo, id_vars = [])

nov= nov.T
nov.drop(['1월'],inplace = True)
nov = pd.melt(nov, id_vars = [])

dec= dec.T
dec.drop(['1월'],inplace = True)
dec = pd.melt(dec, id_vars = [])

In [92]:

# nov.set_index(['variable'])
# dec.set_index(['variable'])

In [94]:
_2019 = pd.concat([jan, feb, mar, apr, may, jun, jul, aug, sep, octo, nov, dec])
_2019.columns = ['time','concentration']

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access

In [99]:
_2019.columns = ['time','concentration']
_2019 = _2019.set_index('time')

In [103]:
# pd.to_csv(_2019,'C:/Users/User/Codeit/_2019.csv')
_2019.to_csv('_2019.csv')