In [11]:
import pandas as pd
nampo = pd.read_csv('남포.csv', encoding = 'cp949', index_col = 0)
nampo

               month   day  hour   CO  CO2          NO2 PM2.5 PM10  Unnamed: 9
datetime-year
2019.0           1.0   1.0   0.0  0.5  445         0.03    19   34         NaN
2019.0           1.0   1.0   1.0  0.4  420        0.024    20   31         NaN
2019.0           1.0   1.0   2.0  0.5  418        0.023    20   23         NaN
2019.0           1.0   1.0   3.0  0.4  419        0.021    21   22         NaN
2019.0           1.0   1.0   4.0  0.4  416        0.018    19   26         NaN
...              ...   ...   ...  ...  ...          ...   ...  ...         ...
2014.0          12.0  31.0  21.0  0.6  543        0.038   NaN   31         1.7
2014.0          12.0  31.0  22.0  0.5  547        0.031   NaN   33         4.2
2014.0          12.0  31.0  23.0  0.4  497        0.021   NaN   25         4.1
NaN              NaN   NaN   NaN  NaN  NaN  0.090409075   NaN  NaN         NaN
NaN              NaN   NaN   NaN  NaN  NaN  0.090274099   NaN  NaN         NaN

[52586 rows x 9 columns]

In [12]:
nampo['PM2.5']=pd.to_numeric(nampo['PM2.5'], errors='coerce')
print(nampo['PM2.5'].mean())
print(nampo['PM2.5'].std())

25.232443638248252
19.727852668400235

In [13]:
nampo['PM10']=pd.to_numeric(nampo['PM10'], errors='coerce')
print(nampo['PM10'].mean())
print(nampo['PM10'].std())

44.15073824190867
27.942874619201664